<h3> Reservations for today </h3>
<table border=1>
	<!-- refactor to handle other days> -->
	<th>Time</th> 
	<th>Reserver</th>
	<% for i in 0..23 %>
		<tr>
			<td><%= "#{i}:00 - #{i+1}:00 " %> </td>
			<% reservedFor = nil %>
			<% @reservations.each do |reservation| %>
			
			<% if reservation.starttime.hour == i %> 
				
				<% reservedFor = reservation.user.name %>
				<% else %>
				
		    <% end %>
			
		 <% end %>
		<% if reservedFor != nil%>
			<% if reservedFor == current_user.name %>
				<td> Reserved for You 	<%= form_tag(:controller => "reserve", :action => "cancel", :method => "delete") do %>
										<%= hidden_field_tag(:user_id, current_user.id) %>
										<%= hidden_field_tag(:resource_id, @resource.id) %>
										<%= hidden_field_tag(:reservetime, (DateTime.now.midnight + i.hours)) %>
									  	<%= submit_tag("cancel") %>
										<% end %>
				</td>
			<% else %>
				<td> <%= reservedFor %></td>
			
				
			<% end %>
		
		
		<% else %>
		<td>
			<%= form_tag(:controller => "reserve", :action => "reserve_resource", :method => "post") do %>
			<%= hidden_field_tag(:user_id, current_user.id) %>
			<%= hidden_field_tag(:resource_id, @resource.id) %>
			<%= hidden_field_tag(:reservetime, (DateTime.now.midnight + i.hours).to_s(:db)) %>
		  	<%= submit_tag("reserve") %>
			  
			<% end %>
			
		</td>
		<% end %> 
	</tr>
	<% end %>
	<p>	   
</table>